@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@300&display=swap');

* {
    font-family: 'Creepster', cursive;
}

/* setting ukuran font */
h1 {
    font-size: 50px;
}

li, a {
    font-size: 20px;
}

p {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 15rem;
    text-align: justify;
}

/* background website */
.banner-image {
    background-image: url('Assets/bgbaru.jpg');
    background-size: cover;
  }

  /* Animasi judul besar */
  .title-animation {
    width: -80px;
    height: -40px;
    position: relative;
    animation: title 5s ease-in-out infinite;
  }

  @keyframes title {
    0%,100% {top: -20px;}
    50% {top: 0px;}
  }


.content img{
  position: relative;
  left: 0;
  top: 20;
  
  z-index: 50;

}

/* .sparkle {
    position: absolute;
    left: 0;
    top: 10px;
    width: 45%;
}
.sparkle2 {
    position: absolute;
    left: 700px;
    top: 10px;
    width: 45%;
} */

.showimg {
    width: 15%;
   float: right;
   margin-top: -130px;
   animation: dolphin 5s ease-in-out infinite;
}

@keyframes dolphin {
  0%,100% {scale: 0.2}
  50% {scale: 1;}
}

/* .satu{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, #00014a, #281f6f);
  }
  .layer{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-position: right;
    background-size: cover;
  }
  .layer:nth-child(1) {
    background-image: url(Assets/sparkle.png);
  }
  .layer:nth-child(2) {
    background-image: url(Assets/sparkle.png);
  } */